<title>Product list</title>
<h3>
    <a href="/product" class="btn btn-danger">
        <i class="fa fa-plus"> </i> Create New
    </a>
    Product list
</h3>
<table class="table">
    <thead>
        <tr>
            <th scope="row">Full Name</th>
            <th>Category</th>
            <th>Amount</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{this.fullName}}</td>
            <td>{{this.category}}</td>
            <td>{{this.amount}}</td>
            <td>
                <a href="/product/{{this._id}}">
<i class="fas fa-edit"></i>
                </a>
                </td>
                <td>
                <a href="/product/delete/{{this._id}}"
                    onclick="return confirm('Are you sure to delete this record?');">
<i class="fas fa-trash"></i>
                </a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>